{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div style="max-width: 400px; margin: 100px auto;">
    <h1>Connexion</h1>

    {% if error %}
        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>Email</label>
            <input type="email" name="email" value="{{ last_username }}" required autofocus>
        </div>
        <div>
            <label>Mot de passe</label>
            <input type="password" name="password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Se connecter</button>
    </form>
</div>
{% endblock %}
